body{
    background-color: rgb(132, 235, 14);
    display: flex; 
    justify-content: center;
    align-items: center;
}
h1
{
    color: rgb(17, 2, 2);
}
h3{
    color:rgb(11, 2, 14)
}
.bankform
{
    width: 600px;
    height: 600px;
    box-shadow: 4px 4px 300px rgba(14, 14, 14, 0.952);
    border-radius: 15px;
    background-color: rgb(202, 152, 152);
    display: flex; 
    justify-content: center;
    align-items: center;
}
